.friend-container {
    width: 115px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
        height: 115px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .friend-name {
        font-size: 14px;
    }
}