.navbar-wrapper {
    position: sticky;
    top: 0;
    z-index: 99;
}

.home-container {
    display: flex;

    .leftbar-wrapper {
        flex: 1;
        border-right: 1px solid rgb(220, 220, 220);
        padding: 10px;
        height: calc(100vh - 50px);
        position: sticky;
        top: 50px;
    }

    .feed-wrapper {
        flex: 3;
        padding: 10px;
    }

    .rightbar-wrapper {
        flex: 1;
        border-left: 1px solid rgb(220, 220, 220);
        padding: 10px;
        height: calc(100vh - 50px);
        position: sticky;
        top: 50px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}